*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.profile{
  top: -50%;
  left: 50%;
  transform: translate(-50%, 50%);
  border-radius: 50%;
}
.registration_profile{
  top: -40%;
  height: 43%;
    left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 50%;
}
/* .login_Background{
    background: linear-gradient(111deg, rgba(0,0,0,0.5), rgba(67, 88, 236, 0.5) 100%);
} */
.logo{
  width: 4%;
}